<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwtyEqxgTEbHD9KOR54CZnAgpli0ryNIw</string>
	<key>GCM_SENDER_ID</key>
	<string>1067703668919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fittrackai</string>
	<key>PROJECT_ID</key>
	<string>fittrack-e62ee</string>
	<key>STORAGE_BUCKET</key>
	<string>fittrack-e62ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067703668919:ios:5bfebc7aa82e6272f37d32</string>
</dict>
</plist>